<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="lib/js/jquery-1.11.3.min.js"></script>
        <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
        <script src="lib/js/loaner.js"></script>
        <link href="lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        
        <style>
            label {display:block; margin-top:10px}
            #brokerOptionDiv {display:none}
            #optionsDiv {}
        </style>
        
    </head>
    <body >
        <form name="inputForm" method="post" action="/f3/calculate">
        <div style="width:25%; float:left; margin: 10 ; display:block; background-color:yellow; min-width:300px" id="left" >
            <select id="sampleDataList" name="sampleDataList" size="20" style="margin:10px">
                <option value="conforming741"     >Conforming fico=741 ltv=81 </option>
                <option value="superConforming741">Super Conforming fico=741 ltv=81</option>
                <option value="nonConforming741"  >Non Conforming fico=741 ltv=81 </option>
                <option value="-"  disabled > ==================== </option>
                <option value="conforming741_65"     >Conforming fico=741 ltv=65 </option>
                <option value="superConforming741_65">Super Conforming fico=741 ltv=65</option>
                <option value="nonConforming741_65"  >Non Conforming fico=741 ltv=65</option>
                <option value="-"  disabled > ==================== </option>
                <option value="conforming681_91"     >Conforming fico=681 ltv=91 </option>
                <option value="superConforming681_91">Super Conforming fico=681 ltv=91</option>
                <option value="nonConforming681_91"  >Non Conforming fico=681 ltv=91 </option>
            </select>
        
        </div>
        <div style="float:left; width:40%; min-width:400px; margin: 10 auto; display:inline-block">
            <h3>Find Mortgage Rate</h3>
            <hr>
                <label for="type">Property Type</label>
                  <input type="radio" id="type" name="type" value="house" checked>House
                 <label for="numberUnit" style="display:inline">Unit</label>
                <select id="numberUnit" name="numberUnit">
                    <option value="one_unit">One Unit</option>
                    <option value="two_unit">Two Unit</option>
                    <option value="three_unit">Three Unit</option>
                    <option value="four_unit">Four Unit</option>
                </select> <br>
                  <input type="radio" name="type" value="condo"> Condo<br>
                <label for="marketPrice">Market Pricece</label>
                <input type=text value="300000" id="marketPrice" name="marketPrice"> <br>
                <label for="loanAmount">Loan Amount</label>
                <input type=text value="237000" id="loanAmount" name="loanAmount"><br>
                <label for="zip">Zip</label>
                <input type=text value="02460" id="zip" name="zip"><br>

                <label for="closingOption">Closing Cost Option</label>
                <select id="closingOption" name="closingOption">
                    <option value="npncc">No Points No Closing Cost</option>
                    <option value="paycc">Pay Closing Cost</option>
                    <option value="bymincredit">By Minimum Credit/Debts</option>
                </select>
                <label for="purchaseType">Mortgage Type</label>
                  <input type="radio" id="purchaseType" name="purchaseType" value="purchase" checked>Puchase <br>
                  <input type="radio" name="purchaseType" value="rtrefinance"> Rate Term Refinance<br> 
                  <input type="radio" name="purchaseType" value="corefinance"> Cash Out Refinance <br>                
        <hr>
                <button type="submit" name="submit" id="submit" class="btn btn-info">Find Rates</button>
        </div>
        <div style="background-color:yellow; width:25%; mincth:300px; float:right; display:inline-block" id="right">
             <div id="optionsDiv"> 
                    <label for="occType">Property Occupancy</label>
                    <select id="occType" name="occType">
                        <option value="primary">Primary Home</option>
                        <option value="commercial">Commercial</option>
                        <option value="investment">Investment</option>
                    </select> <br>
                    
                    <label for="crediteScore">Credite Score</label>
                    <input type="text" name="creditScore" id="creditScore" value="701"></input><br>
                
                    <label for="lockDays">Lock Days</label>
                    <select id="lockDays" name="lockDays">
                        <option value="30">30 Days</option>
                        <option value="45" selected>45 Days</option>
                        <option value="60">60 Days</option>
                    </select> <br>

                <label for="loanName">select loan Type</label>
                <select id="loanNameSelection" name="loanNameSelection[]"  size="5" multiple>
                    <option value="all" >All Loan Type</option>
                    <option value="fixed30" selected>30 years fixed</option>
                    <option value="fixed15">15 years fixed</option>
                    <option value="arm51">5/1 arm</option>
                    <option value="arm71">7/1 arm</option>
                </select>
<!--                 
                <ul id="optionsList">
                    <li>Mortgage Type(Purchase) </li> 
                    <li>Occupancy(Primary Home)</li> 
                    <li>Credit score(>740)</li>
                    <li>lock days(45)</li> 
                    <li>Loan type(All)</li>
                </ul>
-->                
<!-- 
            </div>    
                <div id="brokerOptionDiv">
-->                
                    <label for="Margin">Confirming Margin</label>
                    <input type="text" name="confirmingmargin" id="confirmingmargin" value="1" size='3'>% ;
                    <label for="JumboMargin"> NonConfirming  Margin</label>
                    <input type="text" name="jumbomargin" id="jumbomargin" value="0.5" size='3'>% <br>
                    <label for="purchaserSelection">Select Specific Lender</label>
                    <select id="purchaserSelection" name="purchaserSelection[]" size="8" multiple>
                        <option value="ALL" >All Lenders</option>
                        <option value="BBT"  selected >BBT</option>
                        <option value="BOKF">BOKF</option>
                        <option value="WELLSFARGO" >Wells Fargo</option>
                        <option value="CHASE" >Chase</option>
                    </select>                    
                </div>
                <button id="optionLink" type="button" class="btn btn-link" >Change Search Options:</button>
<!--                 <button id="brokerOptionLink" type="button" class="btn btn-link" >Broker's Option</button><br> 
-->
        </div>
            </form>
    </body>
</html>