<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="{{ @BASE.'/'.@UI }}" />
        <title>{{ @site }}</title>

	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
        
        <!-- Bootstrap -->
        <link href="{{@BASE}}/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        
        <!-- Custom CSS -->
        <link href="{{@BASE}}/lib/css/modern-business.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{@BASE}}/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        
        <!-- loaner css -->
        <link href="{{@BASE}}/lib/css/loaner.css" rel="stylesheet" type="text/css">
        
    </head>
 
    <body>
        <include href="customer/nav.htm" />
        <div id="message" name="message" style="color:red; font-size:0.8em;">{{ @message }}</div>
        <div style="font-size:0.8em;">
    		<check if="{{ @SESSION['username'] }}">
			    <true>
			        <p>You are signed in as {{ @SESSION['username'] }}  , <a href="{{ @BASE.'/signout' }}">Sign Out</a></p>
			    </true>
			    <false>
			        <p>You are not signed in. 
			        <a id="btnSignup" type="button">Sign up</a> or 
			        <a id="btnSignin" type="button">Sign In</a> to get current rate quote in MA</p>
			    </false>
			</check>
    	</div>
        <include href="signin.htm" />
        <include href="signup.htm" />
        
           

            

            