<form id="frmSignup" name="frmSignup" action="{{ @BASE.'/adduser' }}" method="post" style="font-size:0.7em; display:none">
    <fieldset>
        <legend>Sign Up</legend>
        <label>
            User Name
            <input type="text" name="username">
        </label>
        <label>
            User Eamil
            <input type="text" name="email">
        </label>
        <label>
            Password
            <input type="password" name="password">
        </label>
        <input type="submit" value="Sign Up" class="btn btn-info btn-sm">
        <button id="Cancel" onclick="location.href='http://localhost/f3/home'" class="btn btn-warning btn-sm" >Cancel</button>
    </fieldset>
</form>
