<form id="frmSignup" name="frmSignup" action="{{ @BASE.'/adduser' }}" method="post" style="display:none">


    <fieldset>
        <legend>Sign Up</legend>
        <label>
            User Name
            <input type="text" name="username">
        </label>
        <label>
            User Eamil
            <input type="text" name="email">
        </label>
        <label>
            Password
            <input type="password" name="password">
        </label>
        <input type="submit" value="Sign Up">
        <button id="Cancel" onclick="location.href='http://localhost/f3/home'" type="reset" >Cancel</button>
    </fieldset>
</form>
