        <form name="frmSignin" id="frmSignin" action="{{ @BASE.'/verifysignin' }}" method="post" class="form-inline" style="font-size:0.8em; display:none">
                <fieldset>
                <label style="font-size:1.5em">Sign in : </label>
                <label> Name</label>
                <input type="text" name="username" size="16" class="form-control input-sm">
                
                <label>Password </label>
                <input type="password" name="password" size="16" class="form-control input-sm">
            <input type="submit" value="Sign In" class="btn btn-info btn-sm">
            <button id="Cancel" onclick="location.href='http://localhost/f3/home'" class="btn btn-warning btn-sm" >Cancel</button>
            </fieldset>
            <br>
        </form>	

